
body {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(234, 234, 199);
}

#title {
    background-color: #5a5a5a;
    margin: 2rem;
    font-size: 3rem;
}

#game {
    background-color: white;
    margin-top: 5rem;
    border: 2px solid slategray;
    border-bottom: 4px solid slategray;
    border-right: 4px solid slategray;
    border-radius: 1rem;
}

#footer p {
    text-align: center;

}

a {
    color: black;
    text-decoration: underline;
}